@mixin price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 60px;
    font-weight: 700;
  }

  span {
    font-size: 34px;
    font-weight: 700;
  }
}

@mixin learn-btn {
  width: 80%;
  margin: 20px auto;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}